<ng-container [formGroup]="editUserForm">
  <ng-container *ngIf="!isEditing">
    <td>{{ user.firstName }}</td>
    <td>{{ user.lastName }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.age }}</td>
    <td>{{ user.gender }}</td>
    <td class="table-buttons">
      <app-button title="Edit" (onClick)="handleEdit()"></app-button>
      <app-button
        title="Delete"
        color="red"
        (onClick)="handleDelete(user._id!, index)"
      ></app-button>
    </td>
  </ng-container>
  <ng-container *ngIf="isEditing">
    <td>
      <input
        class="edit-form__input"
        type="text"
        formControlName="firstName"
        [ngClass]="{
          error:
            editUserForm.controls.firstName.errors?.required ||
            editUserForm.controls.firstName.errors?.pattern
        }"
      />
    </td>
    <td>
      <input
        class="edit-form__input"
        type="text"
        formControlName="lastName"
        [ngClass]="{
          error:
            editUserForm.controls.lastName.errors?.required ||
            editUserForm.controls.lastName.errors?.pattern
        }"
      />
    </td>
    <td>
      <input
        class="edit-form__input"
        type="text"
        formControlName="email"
        [ngClass]="{
          error:
            editUserForm.controls.email.errors?.required ||
            editUserForm.controls.email.errors?.email
        }"
      />
    </td>
    <td>
      <input
        class="edit-form__input"
        type="number"
        formControlName="age"
        [ngClass]="{
          error:
            editUserForm.controls.age.errors?.required ||
            editUserForm.controls.age.errors?.min
        }"
      />
    </td>
    <td>
      <select
        class="edit-form__input"
        formControlName="gender"
        [ngClass]="{ error: editUserForm.controls.gender.errors?.required }"
      >
        <option selected value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </td>
    <td class="table-buttons">
      <app-button
        title="Save"
        color="green"
        (onClick)="handleSave()"
        [isDisabled]="editUserForm.pristine || !editUserForm.valid"
      ></app-button>
      <app-button
        title="Cancel"
        color="red"
        (onClick)="handleCancel()"
      ></app-button>
    </td>
  </ng-container>
</ng-container>
