<div class="table-wrapper">
  <table class="user-table">
    <thead>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Gender</th>
    </thead>
    <tbody>
      <tr
        app-user
        *ngFor="let user of userService.users; let index = index"
        [user]="user"
        [index]="index"
      ></tr>
    </tbody>
  </table>
  <app-button
    title="Add User"
    color="green"
    (onClick)="modalService.open()"
  ></app-button>
</div>
<app-modal *ngIf="modalService.isOpen">
  <app-add-user></app-add-user>
</app-modal>
